body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: Cuprum, Arial, Verdana, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;

	background-color: #f3f7f8;
	background-image: url(../img/bgc.jpg);
	background-repeat: repeat;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 1px;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

