body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: Cuprum, Arial, Verdana, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;

	cursor: default;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a[href] {
	cursor: pointer;
}

/*
img {
	width: 100%;
	height: auto;
}
*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 1px;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.btn {
	display: block;
	margin: 0;
	padding: 12px 10px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ff5357;
	text-align: center;
	vertical-align: middle;
	border: 0;
	border-radius: 4px;
	text-transform: uppercase;

	box-sizing: border-box;
	cursor: pointer;
}

/*HEADER*/
.main-header {
	margin-bottom: 59px;
	padding-bottom: 60px;
	background-color: #f3f7f8;
	background-image: url(../img/bgc.jpg);
	background-repeat: repeat;
}

.menu-buy {
	margin-bottom: 45px;
	color: #ffffff;
	background-color: #33445a;
}

.menu-buy .container {
	display: flex;
	flex-wrap: wrap;
}

.menu-buy .logo{
	margin: 0;
	padding: 0;
}

.logo-btn {
	width: 220px;
	margin: 0;
	padding-top: 11px;
	padding-bottom: 6px; 

	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	border-radius: 0;

	background-color: #ee3643;

	box-shadow: 0 5px 0 #c23f42;
	box-sizing: border-box;
	cursor: default;
}

.inner .logo:hover,
.logo:focus {
	background-color: #ca2c37;
	box-shadow: 0 5px 0 #9a212a;
}

.inner .logo:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0 #8e1e26;
}

.buy-nav {
	display: flex;
	flex-wrap: wrap;
	width: 720px;
	margin: 0;
	padding: 0;
	font-size: 17px;
	line-height: 18px;
	list-style: none;

	box-sizing: border-box;
}

.search input::placeholder {
	color: #ffffff;
	font: inherit;
}

.search input:focus::placeholder {
	color: #000000;
}

.buy-nav .search {
	position: relative;
	width: 270px;
	vertical-align: middle;
}

.search input[type="search"] {
	width: 100%;
	padding: 11px 10px 13px 49px;
	font: inherit;
	color: #ffffff;
	background-color: #33445a;
	border: none;
	box-sizing: border-box;
}

.icon-search {
	position: absolute;
	top: 50%; 
	left: 17px;
	margin-top: -10.5px;
}

.icon-search svg {
	fill: #ffffff;
	fill-opacity: 0.3;
}

.buy-nav a {
	position: relative;
	display: block;
	padding: 12px 10px 12px 44px;
	width: 150px;

	box-sizing: border-box;
}

.buy-nav .basket {
	padding-left: 50px;
}

.buy-nav a::before {
	content: "";
	position: absolute;

	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.buy-nav .bookmark::before {
	top: 50%;
	left: 17px;
	margin-top: -8px;
	width: 14px;
	height: 16px;
	background-image: url(../img/icon-bookmark.svg);
}

.buy-nav .basket::before {
	top: 50%;
	left: 17px;
	margin-top: -7.5px;
	width: 15px;
	height: 15px;
	background-image: url(../img/cart-icon.svg);
}

.buy-nav .order {
	padding-left: 20px;
	background-color: #6db254;
}

.buy-nav li:hover,
.buy-nav li:not(.search):focus,
.search input:hover {
	background-color: #212a3a;
}

.search:hover svg {
	fill-opacity: 1;
}

.search input[type="search"]:focus {
	color: #000000;
	background-color: #ffffff;
}


/*Не можу зробити іконку search червоною*/
.input[type="search"]:focus svg {
	fill: #ee3643;
	fill-opacity: 1;
}

.buy-nav a:hover::before,
.buy-nav a:focus::before {
	opacity: 1;
}

.buy-nav .order:hover,
.buy-nav .order:focus {
	background-color: #5fbb2d;
}

.buy-nav li:active {
	color: rgba(255, 255, 255, 0.6);
	background-color: #161d29;
}

.buy-nav a:active::before {
	opacity: 0.5;
}

.buy-nav .order:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

.header-center {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 39px;
}

.header-title {
	margin: 4px 20px 0 53px;
	padding: 0;
	width: 247px;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	color: #ff5357;
}

.contacts-info {
	text-align: center;
}

.contacts-info p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 24px;
	color: #3d546e;
}

.contacts-info .phone {
	position: relative;
	margin-bottom: 5px;
	padding: 10px 10px 8px 71px;
	width: 270px;
	font-size: 21px;
	line-height: 21px;
	color: #ff5357;
	text-align: left;

	border: 3px solid #ffffff;
	box-sizing: border-box;
}

.contacts-info .phone::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 13px;
	width: 19px;
	height: 19px;
	margin-top: -9.5px;

	background-image: url(../img/icon-phone.svg);
	background-repeat: no-repeat;
} 

.user-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	margin-left: auto;
	padding: 0;
	width: 281px;
	min-height: 45px;
	list-style: none;
}

.user-nav .user-btn {
	position: relative;
	display: block;
	padding: 14px 24px 11px 25px;
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
}

.user-nav .checkin {
	padding-left: 48px;
}

.user-nav .checkin::before,
.user-nav .user-name::before,
.user-nav .user-name::after {
	content: "";
	position: absolute;
	top: 50%;
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
}

.user-nav .checkin::before {
	left: 14px;
	width: 20px;
	height: 17px;
	margin-top: -8.5px;

	background-image: url(../img/icon-login.svg);
}

.user-nav .user-btn:hover {
	color: #ee3643;
}

.user-nav .user-btn:hover::before,
.user-nav .user-btn:hover::after{
	opacity: 1;
}

.user-nav .user-btn:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-nav .user-btn:active::before,
.user-nav .user-btn:active::after {
	opacity: 0.3;
}

.inner .user-block {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	width: 300px;
}

.inner .user-nav {
	margin-left: 0;
	margin-bottom: 7px;
	width: 100%;
}

.user-nav .user-name {
	padding-left: 47px;
	padding-right: 67px;
	width: 300px;

	box-sizing: border-box;
}

.user-nav .user-name::before {
	left: 13px;
	width: 20px;
	height: 18px;
	margin-top: -9px;
	background-image: url(../img/icon-user.svg);	
}

.user-nav .user-name::after {
	right: 10px;
	width: 21px;
	height: 17px;
	margin-top: -8.5px;
	background-image: url(../img/icon-logout.svg);
}

.user-nav .user-name:hover {
	color: #000000;
}

.user-nav .user-name:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-block .personal-area {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.personal-area li {
	position: relative;
}

.personal-area li:first-child::after {
	content: "";
	position: absolute;
	top: 50%;
	right: -5px;
	width: 4px;
	height: 4px;
	margin-top: -1px;
	background-color: #32425c;
	border-radius: 50%;
}

.personal-area a {
	position: relative;
	display: block;
	margin-left: 18px;
	margin-right: 16px;
	color: #32425c;
}

.personal-area a::after {
	content: "";
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #32425c;
}

.personal-area a:hover,
.personal-area a:focus {
	color: #e9292a;
}

.personal-area a:hover::after,
.personal-area a:focus::after {
	background-color: #e9292a;
}

.personal-area a:active {
	color: #32425c;
	opacity: 0.3;
}

.personal-area a:active::after {
	background-color: #32425c;
	opacity: 0.3;
}

.site-nav ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-nav a {
	display: block;
	padding: 20px 32px 22px 32px;
	font-size: 17px;
	color: #ffffff;
	background-color: #3d546e;
	box-shadow: inset 0 -7px 0 #33445a;
}

.site-nav li:first-child a {
	padding-left: 52px;
}

.site-nav li:last-child a {
	padding-right: 36px;
}

.site-nav a:hover {
	background-color: #33445a;
}

.site-nav a:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #1d2739;
}

/**MAIN*/

/*Section promo*/
.promo {
	margin-bottom: 32px;
}

.promo-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
	padding: 0;
	color: #ffffff;
	list-style: none;
}

.promo-item {
	position: relative;
	margin-bottom: 20px;
	padding: 21px 140px 22px 23px;
	width: 300px;

	box-sizing: border-box;
}

.promo-item.promo-service{
	margin-bottom: 0;
	padding: 0;
}

.promo-item h3 {
	margin: 0;
	margin-bottom: 12px;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.promo-item-btn {
	width: 135px;
	padding: 10px;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.1);
}

.promo-item-btn:hover,
.promo-item-btn:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.promo-item-btn:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.promo-list .materials {
	background-color: #ffbf47;
}

.promo-list .tool {
	background-color: #3bbce3;
}

.promo-list .machinery {
	background-color: #dc91d8;
}

.promo-list .discounts {
	background-color: #8ed78f;
}

.promo-list .delivery {
	background-color: #ffc047;
}

.promo-item::before,
.materials::after {
	content: "";
	position: absolute;

	background-position: 0 0;
	background-repeat: no-repeat;
}

.materials::before {
	top: 50%;
	right: 43px;
	width: 44px;
	height: 65px;
	margin-top: -32px;

	background-image: url(../img/icon-materials.svg);
}

.materials::after {
	top: 0;
	right: 0;
	width: 60px;
	height: 59px;
	background-image: url(../img/new-flag.png);
}

.tool::before {
	top: 50%;
	right: 29px;
	width: 75px;
	height: 61px;
	margin-top: -30px;

	background-image: url(../img/icon-tool.svg);
}

.machinery::before {
	top: 50%;
	right: 31px;
	width: 78px;
	height: 62px;
	margin-top: -31px;

	background-image: url(../img/icon-machinery.svg);
}

.discounts::before {
	top: 50%;
	right: 45px;
	width: 59px;
	height: 72px;
	margin-top: -36px;

	background-image: url(../img/icon-discounts.svg);
}

.delivery::before {
	top: 50%;
	right: 30px;
	width: 78px;
	height: 63px;
	margin-top: -31.5px;

	background-image: url(../img/icon-delivery.svg);
}

.promo-list .slider {
	padding-bottom: 0;
	position: relative;
	width: 620px;
	color: #ffffff;
}

.promo-list .slider-2 {
	display: none;
}

.promo-item .slider-title {
	margin-bottom: 3px;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
}

.promo-item p {
	margin: 0;
	margin-bottom: 123px;
	padding: 0;
	font-family: "PT Sans", Arial, Verdana, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

.slider img {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 620px;
	height: 266px;

	background-color: #574536;

	z-index: -1;
}

.promo-item-slider {
	margin-bottom: 22px;
	width: 195px;

	background-color: #ee3643;
}

.slider .controls-arrows,
.slider .controls-radio {
	position: absolute;
	bottom: 20px;
}

.promo-item-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	width: 300px;
}

/*Section popular-goods*/

.title-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 25px 24px 26px 30px;
	background-color: #f9f5f0;
}

.title-box h2 {
	margin: 0;
	padding: 0;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #3d546e;

	text-transform: uppercase;
}

.title-box .btn {
	padding-bottom: 8px;
	width: 253px;
}

.title-box .btn:hover,
.title-box .btn:focus,
.promo-item-slider:hover,
.promo-item-slider:focus,
.service-credit-btn:hover,
.service-credit-btn:focus,
.company-btn:hover,
.company-btn:focus,
.contacts-btn:hover,
.contacts-btn:focus {
	background-color: #ca2c37;
}

.title-box .btn:active,
.promo-item-slider:active,
.service-credit-btn:active,
.company-btn:active,
.contacts-btn:active {
	background-color: #ba2732;
}

.popular-goods-list,
.manuf-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, Verdana, sans-serif;
	list-style: none;
}

.good-item,
.manuf-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 220px;
	margin-bottom: 23px;
	border: 1px solid #eaeaea;
	text-align: center;

	box-sizing: border-box;
}

.good-item-new::after {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;

	width: 60px;
	height: 59px;
	background-image: url(../img/new-flag.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.good-item .good-img {
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
	order: -1;
}

.good-item .good-title {
	margin: 0;
	margin-bottom: 12px;
	padding: 0;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #000000;
}

.good-title a {
	font: inherit;
	color: #000000;
}

.good-item .old-price {
	margin: 0;
	margin-bottom: 9px;
	padding: 0;
	font-size: 17px;
	font-weight: 700;
	color: #a9a9a9;
	text-decoration: line-through;
}

.good-item .new-price {
	position: relative;
	margin: 0;
	margin-top: auto;
	margin-left: -12px;
	margin-bottom: 20px;
	padding: 10px 3px 9px 17px;
	width: 122px;
	font-size: 17px;
	font-weight: 700;
	color: #ffffff;
	background-color: #ee3643;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

	box-sizing: border-box;
}

.good-item .new-price::after {
	content: "";
	position: absolute;
	top: 0px;
  right: -37px;
  width: 0;
  height: 0;
  border: 18.5px solid transparent;
  border-left: 18.5px solid #ee3643;;
}

.good-buy {
	display: none;
	padding: 45px 42px 32px 41px;
	background-color: #ffffff;
}

.good-buy .btn {
	width: 135px;
	padding: 10px;
	font-size: 14px;
	box-sizing: border-box;
}

.good-buy .buy-btn {
	position: relative;
	margin-bottom: 7px;
	padding-left: 49px;
	text-align: left;
	background-color: #63a63e;
	box-shadow: inset 0 -3px 0 #367315;
}

.good-buy .buy-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 12px;

	width: 15px;
	height: 15px;
	margin-top: -8px;
	background-image: url(../img/cart-icon.svg);
	background-position: 0 0;
	background-repeat: no-repeat;

	opacity: 0.3;
}

.good-buy .buy-btn:hover,
.good-buy .buy-btn:focus {
	background-color: #5fbb2d;
	box-shadow: inset 0 -3px 0 #367315;
}

.good-buy .buy-btn:hover::before,
.good-buy .buy-btn:focus::before {
	opacity: 1;
} 

.good-buy .buy-btn:active {
	background-color: #518534;
	box-shadow: none;
}

.good-buy .bookmark-btn {
	padding-top: 7px;
	padding-bottom: 7px;
	color: #32425c;
	background-color: #ffffff;
	border: 3px solid #63a63e;
}

.good-buy .bookmark-btn:hover,
.good-buy .bookmark-btn:focus {
	border: 3px solid #32425c;
}

.good-buy .bookmark-btn:active {
	opacity: 0.3;
}

.good-item:hover,
.good-item:focus,
.manuf-item:hover,
.manuf-item:focus {
	box-shadow: 0 0 25px rgba(41, 52, 73, .5);
}

.good-item:hover .good-buy,
.good-item:focus .good-buy {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.popular-manufacturers {
	margin-bottom: 64px;
}

.manuf-item {
	height: 145px;
	margin-bottom: 20px;
	
	box-sizing: border-box;
}

.manuf-item:active {
	box-shadow: 0 0 10px rgba(41, 52, 73, .5);
	opacity: 0.3;
}

.services {
	margin-bottom: 77px;
	padding-top: 65px;
	padding-bottom: 102px;
	color: #000000;
	background-color: #f3f7f8;
	background-image: url(../img/bgc.jpg);
	background-repeat: repeat;
}

.services .title,
.company .title,
.contacts .title {
	margin: 0;
	padding: 0;
 	color: #000000;
	font-size: 30px;
	line-height: 30px;
	
	text-transform: uppercase;
}

.services .title,
.company .title,
.contacts .title {
	font-weight: 400;
	margin-bottom: 26px;
}

.services p,
.company p,
.contacts p {
	margin: 0;
	padding: 0;
	line-height: 24px;
	font-weight: 400;
}

.services .description {
	margin-right: 540px;
	margin-bottom: 66px;
	font-size: 14px;
}

.service-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services-list {
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.services-list::after {
	content: "";
	position: absolute;
	top: -40px;
	right: 0;
	width: 10px;
	height: 272px;
	background-image: url(../img/shadow.png);
}

.service-btn {
	padding: 16px 20px 15px 23px;
	width: 240px;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
	text-align: left;
	border: none;
	background-color: #3d546e;
	
	border-top: 1px solid #4d637b;
	border-bottom: 1px solid #33445b;
	box-sizing: border-box;
	cursor: pointer;
}

.service-btn.active{
	color: #3d546e;
	background-color: #ffffff;
	border: none;
	cursor: default;
}

.service-btn:hover,
.service-btn:focus {
	background-color: #293449;
}

.service-btn.active:hover,
.service-btnactive:focus {
	background-color: #ffffff;
}

.sirvice-item-title {
	margin: 0;
	margin-bottom: 26px;
	padding: 0;    
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
	color: #3d546e;

	text-transform: uppercase;
}

.service-delivery,
.service-guarantee,
.service-credit {
	position: relative;
	width: 620px;
}

.service-delivery p,
.service-guarantee p,
.service-credit p {
	font-family: "PT Sans", Arial, Verdaana, sans-serif;
	font-size: 13px;
}

.service-delivery::after,
.service-guarantee::after,
.service-credit::after {
	content: "";
	position: absolute;
		background-position: 0 0;
	background-repeat: no-repeat;
}

.service-delivery::after {
	top: 25px;
	left: 150px;
	width: 468px;
	height: 261px;
	background-image: url(../img/car.png);
}

.service-guarantee::after {
	top: 3px;
	left: 240px;
	width: 389px;
	height: 283px;
	background-image: url(../img/guarantee.png);
}

.service-credit::after {
	top: 2px;
  left: 164px;
	width: 465px;
	height: 285px;
	background-image: url(../img/credit.png);
}

.service-credit p {
	margin-bottom: 25px;
}

.service-credit-btn {
	width: 195px;
}

/*.service-delivery*/
.service-guarantee,
.service-credit {
	display: none;
}

.company-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 86px;
}

/*Section company*/
.company {
	width: 540px;
}

.company p,
.contacts p {
	margin-bottom: 24px;
	font-family: "PT Sans", Arial, Verdana, sans-serif;
	font-size: 13px;
}

.company p:nth-child(3) {
	margin-bottom: 19px;
}

.company-list {
	margin: 0;
	margin-bottom: 34px;
	padding: 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	list-style: none
}

.company-list li {
	position: relative;
	margin-bottom: 16px;
	padding-left: 36px;
}

.company-list li::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 2px;
	margin-top: -1px;
	background-color: #ff5357;
}

.company-btn {
	padding-bottom: 8px;
	width: 220px;
}

/*Section contacts*/
.contacts {
	width: 300px;
}

.contacts p {
	margin-bottom: 31px;
}

.contacts .map-mini {
	display: block;
	margin-bottom: 40px;
	width: 300px;
	height: 158px;
}

.contacts-btn {
	width: 300px;
	padding-top: 11px;
	padding-bottom: 9px;
}

/*FOOTER*/
.main-footer {
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
	background-color: #3d546e;
}

.footer-top,
.footer-middle {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-top {
	margin-bottom: 33px;
}

.footer-top .logo {
	margin: 0;
	padding: 0;
}

.footer-top .logo-btn {
	width: 220px;
	padding-top: 18px;
	padding-bottom: 15px;
	font-size: 30px;
	line-height: 30px;
}

.footer-top .footer-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	width: 550px;
	margin: 0;
	margin-bottom: 1px;
	padding: 0;
	list-style: none;
}

.footer-nav a {
	position: relative;
	display: block;
	color: #f1f5f7;
}

.footer-nav a:active {
	opacity: 0.5;
}

.footer-nav a:hover::after,
.footer-nav a:focus::after {
	content: "";
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #f1f5f7;
}

.footer-middle {
	margin-bottom: 49px;
}

.footer-middle .footer-contacts {
	width: 380px;
	margin: 0;
	padding: 0; 
	padding-left: 3px;	
} 

.footer-middle .footer-promo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 540px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-promo a {
	position: relative;
	display: block;
	margin-left: 14px;
	color: #ffda96;
}

.footer-promo a:active {
	opacity: 0.5;
}

.footer-promo a:hover::after,
.footer-promo a:focus::after {
	content: "";
	position: absolute;
	bottom: 3px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ffda96;
}

.footer-nav a:active::after,
.footer-promo a:active::after{
	height: 0;
}

.footer-bottom {
	padding-bottom: 31px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background-color: #33445a;
}

.footer-bottom .container {
	display: flex;
	flex-wrap: wrap;
}

.footer-bottom .footer-copyright {
	margin: 0;
	margin-top: 37px;
	margin-right: 149px;
	padding: 0;

	padding-bottom: 2px;
	width: 240px;
}

.footer-bottom .footer-social {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	margin: 0;
	margin-right: 80px;
	padding: 0;
	width: 170px;
	list-style: none;
}

.footer-social .social-button {
	position: relative;
	display: block;
	margin-right: 5px;
	width: 40px;
	height: 40px;
	background-color: #29384a;
	border-radius: 50%;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus,
.footer-social .social-button:active {
	background-color: #ee3643;
}

.footer-social .social-button::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background-repeat: no-repeat;
}

.footer-social .vk::before {
	width: 26px;
	height: 15px;
	margin-top: -8px;
	margin-left: -13px;
	background-image: url(../img/vk.svg);
}

.footer-social .fb::before {
	width: 12px;
	height: 22px;
	margin-top: -11px;
	margin-left: -6px;
	background-image: url(../img/fb.svg);
}

.footer-social .insta::before {
	width: 21px;
	height: 21px;
	margin-top: -11px;
	margin-left: -10.5px;
	background-image: url(../img/insta.svg);
}

.feedback {
	width: 140px;
	margin: 0;
	margin-top: 36px;
	margin-right: 49px;
	padding: 0;
}

.developed-by {
	margin: 0;
	margin-top: 36px;
	padding: 0;
}

.feedback a,
.developed-by a {
	display: block;
	position: relative;
	color: #ffda96;
}

.feedback a:hover::after,
.feedback a:focus::after,
.developed-by a:hover::after,
.developed-by a:focus::after {
	content: "";
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ffda96;
}

.feedback a:active,
.developed-by a:active {
	color: #ee3643;
}

.feedback a:active::after,
.developed-by a:active::after {
	content: "";
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #ee3643;
}

/*MODAL_WRITE*/
.modal {
	position: fixed;
	color: #000000;
	display: none;

	background-color: #ffffff;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.75);
}

.modal-write {
	top: 120px;
	left: 50%;
	margin-left: -310px;
	padding: 48px 80px 37px 80px;
	width: 460px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	border-top: 7px solid #ee3643;
	background-color: #ffffff;
	box-shadow: inset 0 -112px 0 #f4f4f4,
										0 0 40px rgba(0, 0, 0, 0.75);
}

@keyframes motionShake {
	0% {transform: translateX(-500px);}
	70% {transform: translateX(30px);}
	90% {transform: translateX(-10px);}
	100% {transform: translateX(0);}
}

.modal-show {
	display: block;
	animation-name: motionShake;
	animation-duration: 0.6s;
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px);}
	20%, 40%, 60%, 80% { transform: translateX(10px);}
}

.modal-error {
	animation-name: shake;
	animation-duration: 0.6s;
}

.modal-close {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 27px;
	height: 27px;
	
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 11px;
	left: 0;
	width: 27px;
	height: 5px;
	background-color: #ee3643;
	border-radius: 1px;
}

.modal-close::before {
	transform: rotate(-45deg);
}

.modal-close::after {
	transform: rotate(45deg);
}

.write-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 74px;
	background-color: #fff;
}

.write-form p {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-bottom: 22px;
	padding: 0;
	width: 220px;
}

.write-form p:first-child {
	margin-right: 20px;
}

.write-form label {
	margin-bottom: 13px;
}

.write-form input,
.write-form textarea {
	padding: 10px 14px;
	border: 2px solid #dee3e4;
	border-radius: 3px;
	box-sizing: border-box;
}

.write-form p:last-child {
	flex-grow: 1;
	margin-bottom: 0;
}

.write-form input::placeholder,
.write-form textarea::placeholder {
	font-family: "PT Sans", Arial, Verdana, sans-serif;
	font-size: 13px;
	color: #a9a9a9;
}

.write-button {
	width: 100%;
}


/*Modal MAP*/
.modal-map {
	top: 60px;
	left: 50%;
	margin-left: -485px;
}

.modal-map p {
	margin: 0;
	padding: 0;
}

.modal-map img {
	position: absolute;
	top: 0;
	left: 0;

	z-index: -1;
}

/*CATALOG.HTML*/

.inner header {
	margin-bottom: 21px;
}

.inner .menu-buy .logo-btn:hover,
.inner .menu-buy .logo-btn:focus {
	background-color: #ca2c37;
	box-shadow: 0 5px 0  #9a212a;
	outline: none;
}

.inner .menu-buy .logo-btn:active {
	background-color: #ba2732;
	box-shadow: 0 5px 0  #8e1e26;
	outline: none;
}

.inner .basket {
	background-color: #ee3643;
}

.inner-main {
	font-family: "PT Sans", Arial, Verdana, sans-serif;
}

.inner-main .breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-size: 13px;
	text-transform: uppercase;
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	padding-left: 26px;
	padding-right: 15px;
	color: #000000;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs li:not(:first-child)::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 8px;
	height: 12px;
	margin-top: -6px;
	background-image: url(../img/icon-right-small.svg);
	background-repeat: no-repeat;
}

.breadcrumbs li:first-child {
	padding-right: 3px;
}

.breadcrumbs .home::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 15px;
	height: 12px;
	margin-top: -6px;
	background-image: url(../img/icon-home.svg);
	background-repeat: no-repeat;
}

.inner-main .page-title {
	margin: 0;
	margin-bottom: 19px;
	padding: 30px 27px;
	font-family: "Cuprum", Arial, Verdana, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	background-color: #f2f6f8;
	text-transform: uppercase;
}

.products-wrapper {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 220px;
}

.filters-title,
.sorting {
	margin: 0;
	margin-bottom: 18px;
	color: #000000;
	background-color: #f7f3ec;
}

.filters-title,
.sorting-title {
	padding: 10px 18px;
	font-size: 13px;
	font-weight: 400;
	border-radius: 3px;
	text-transform: uppercase;
}

.filter-list {
	margin: 0;
	margin-bottom: 23px;
	padding: 0;
	padding-bottom: 26px;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}

.filter-list:nth-child(3){
	margin-bottom: 49px;
	border-bottom: none;
}

.filter-list-title {
	margin-bottom: 20px;
	font-size: 17px;
	line-height: 17px;
	font-weight: 700;
	text-transform: uppercase;
}

.range-controls {
	position: relative;

	width: 100%;
	height: 80px;
	margin-bottom: 9px;

	background-color: #f7f3ec;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px; 
}

.range-controls::before,
.range-controls::after {
	content: "";
	position: absolute;
	top: 50%;

	height: 2px;

	margin-top: -1px;
}

.range-controls::before {
	left: 28px;
	z-index: 1;

	width: 142px;
	background-color: #00ca74;
}

.range-controls::after {
	left: 28px;
	width: 171px;

	background-color: #d7dcde;
}

.range-slider {
	position: absolute;
	top: 50%;
	z-index: 5;

	width: 20px;
	height: 23px;
	margin-top: -10px;

	border: none;
	background-color: transparent;
	background-image: url(../img/filter-button.svg);
	background-position: 0 0;
	background-size: 20px 23px;
	background-repeat: no-repeat;
	cursor: pointer;

	transform: translateX(-50%);
}

.range-slider-min {
  left: 28px;
}

.range-slider-max {
  left: calc(28px + 142px);
}


.range-inputs {
	display: flex;
	justify-content: space-between;
}

.range-input {
	box-sizing: border-box;
	
	padding: 9px 10px 10px;
	width: 95px;

	font-size: 17px;
	line-height: 18px;
	text-align: center;

	border: none;
	border-radius: 3px;
	background-color: #f7f3ec;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.filter-list ul {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 20px;
	list-style: none;

	text-transform: uppercase;
}

.filter-option {
	position: relative;
	margin-bottom: 20px;
	padding-left: 34px;
}

.filter-option:last-child {
	margin-bottom: 0;
}

.filter-input + label::before {
	content: "";
	position: absolute;
	top: -2px;
	left: -1px;

	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.4;
}

.filter-input-checkbox + label::before {
	width: 27px;
	height: 23px;

	background-image: url(../img/checkbox-off.svg);
}

.filter-input-checkbox:checked + label::before {
	width: 27px;
	height: 23px;

	background-image: url(../img/checkbox-on.svg);
}

.filter-input-radio + label::before {
	width: 25px;
	height: 25px;

	background-image: url(../img/radio-off.svg);
}

.filter-input-radio:checked + label::before {
	width: 25px;
	height: 25px;

	background-image: url(../img/radio-on.svg);
}


.filter-input + label {
	cursor: pointer;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
	opacity: 0.7;
	cursor: pointer;
}

.filter-input:disabled + label,
.filter-input-radio:disabled + label::before,
.filter-input-checkbox:disabled + label::before {
	color: rgba(40, 49,54, 0.3);
	opacity: 0.3;
	cursor: default;
}

.filter .filter-btn {
	width: 138px;
	padding: 10px 5px 8px;
	font-size: 13px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.filter .filter-btn:hover,
.filter .filter-btn:focus {
	border-color: #bdc6ca;
	outline: none;
}

.filter .filter-btn:active {
	border-color: #ee3643;
	outline: none;
}

.sorting {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-bottom: 20px;

	border-radius: 3px;
}

.sorting-title {
	margin: 0;
	width: 220px;
	box-sizing: border-box;
}

.sort-type {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 10px 0;
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	list-style: none;

	text-transform: uppercase;
}

.sort-type-main {
	width: 380px;
}

.arrow-list {
	width: 60px;
}

.sort-type a {
	margin-right: 70px;
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #ee3643;
}

.sort-type li:last-child a {
	margin-right: 0;
}

.sort-type .sort-type-current {
	color: #ee3643;
	border-bottom: none;
}

.sort-type a:not(.sort-type-current):hover,
.sort-type a:not(.sort-type-current):focus {
	color: #000000;
	border-bottom-style: solid;
}

.arrow-list a {
	margin-right: 30px;
	position: relative;
}

.arrow-list .up::before,
 .arrow-list .down::before{
	content: "";
	position: absolute;
	top: 4px;
	width: 11px;
	height: 10px;

	background-position: 0 0;
	background-repeat: no-repeat;
}

.arrow-list .up::before {
	left: -1px;
	background-image: url(../img/icon-up.svg);
	opacity: 0.3;
}

.arrow-list .down::before {
	left: 0px;
	background-image: url(../img/icon-down.svg);
	opacity: 0.3;
}

.arrow-list .sort-type-current.up::before {
	background-image: url(../img/icon-up-red.svg);
	opacity: 1;;
}

.arrow-list .sort-type-current.down::before {
	background-image: url(../img/icon-down-red.svg);
	opacity: 1;;
}

.products {
	display: flex;
	flex-direction: column;
	width: 700px;
}

.popular-goods-list {
	margin-bottom: 32px;
}

.popular-goods-list .good-item {
	margin-bottom: 21px;
}

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	list-style: none;
}

.pagination-item .pagination-link {
	display: block;
	margin-right: 10px;
	padding: 9px 14px;
	font-size: 13px;
	line-height: 18px;
	color: #000000;

	text-align: center;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	text-transform: uppercase;
}

.pagination-item-current .pagination-link {
	border: 1px solid #ee3643;
	background-color: #ee3643;
	outline: none;
}

.pagination-link-next {
	width: 140px;
	box-sizing: border-box;
}

.pagination-item .pagination-link:hover,
.pagination-item .pagination-link:focus {
	border-color: #bdc6ca;
	outline: none;
}

.pagination-item .pagination-link:active {
	border-color: #ee3643;
	outline: none;
}

.pagination-item-current .pagination-link:hover,
 .pagination-item-current .pagination-link:focus {
	border: 1px solid #ee3643;
	background-color: #ee3643;
	outline: none;
}

.about-goods {
	color: #000000;
	background-color: #f2f6f8;
}

.about-goods .container {
	padding: 65px 0 68px 0;
}

.about-goods-title {
	margin: 0;
	margin-bottom: 26px;
	font-family: Cuprum, Arial, Verdana, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.about-goods p {
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 24px;
}